* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Universal Rules*/
.top-menu {
    display: flex;
    width: 100%;
    height: 2.5em;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
    background-color: darkslateblue;
}

.top-menu a {
    color: lightgray;
    text-decoration: none;
}

.link {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.google {
    margin-left: auto;
}

.page h2 {
    background-color: lightgray;
    padding-left: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title,
.about-me,
.experience,
.contact-info {
    width: 100%;
}

.title {
    text-align: center;
    padding: 1.5em 0;
    background-color: grey;
}

.about-me p {
    font-style: italic;
    font-size: 1.2em;
    padding: 2.1em 2.2em;
}

.experience h2 {
    padding: 1em;
    padding-left: 0.8em;
}

.experience ul {
    padding: 0.9em 1.2em 0.9em 1.5em;
}

.experience li {
    margin-bottom: 0.39em;
    line-height: 1.2em;
}

.contact-info {
    height: 100px;
    background-color: rgb(140, 129, 211);
}

.contact-info h4 {
    text-decoration: underline;
    font-size: 1.1em;
    padding-left: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.15em;
}

.contact-info p {
    padding-left: 1.5em;
    padding-bottom: 0.2em;
}

.name-exp {
    display: flex;
    overflow: hidden;
    font-size: 0.92em;
    color: lightgrey;
    background-color: darkslateblue;
    justify-content: space-around;
}

.name-exp p {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

@media only screen and (min-width: 961px) {
    .page {
        width: 1200px;
        margin: 0 auto;
    }
    
    .experience {
        width: 33.3%;
    }

    .projects {
        flex: 1.5;
    }

    .work {
        flex: 1.5;
    }

    .skills {
        flex: 1;
    }
}