* {
    margin: 0.4em;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about-me {
    font-style: italic;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
}

#navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 92, 112);
}

#navigation-bar li {
    float: left;
    border-right: 1px black solid;
    margin: 0;
}

#navigation-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
}

#navigation-bar li a:hover {
    background-color: rgb(175, 193, 207);
}

#navigation-bar .external-link {
    float: right;
    border-right: none;
    border-left: 1px black solid;
}

.contact-info {
    background-color: rgb(87, 147, 202);
}

.contact-info p, .contact-info a {
    font-size: 0.8em;
    padding-left: 0.4em;
    color: rgb(255, 211, 92);
}

.contact-info {
    margin-top: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 0.3em 1.2em;
}

.portfolio-content {
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.portfolio-content, .portfolio-content > li:first-of-type,
.portfolio-content > li:last-of-type {
    background-color: rgb(235, 235, 235);
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-content > li:first-of-type {
    padding-top: 0.2em;
}

.portfolio-content > li:last-of-type {
    padding-bottom: 0.2em;
}

h1 {
    background-color: rgb(37, 173, 173);
    font-size: 2em;
    color: #000000;
    padding: 20px 35px;
    border: 1px solid #0a6d7c;
    border-radius: 6px;
    width: 23em;
    margin: 0.4em auto;
}

h2 {
    background-color: lightgrey;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    margin-top:
}

hr {
    margin-bottom: 0;
}

ul {
    padding-left: 20px;
}

em {
    margin: 0;
}

a:link:active{
    color: red;
}
